*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: rgb(244, 244, 245);
}
.container{
    width: 100%;
    margin: auto;
}

hr{
    border-style: solid;
    border-color: rgb(244, 244, 245);
}

/* Header */
.logo-head{
    padding: 15px 10px 10px;
    background-color: white;
}

.logo-head span{
    font-weight: 780;
    font-family: Arial;
    font-size: 40px;
}

.logo{
    vertical-align: middle;
}
.logo-text{
    vertical-align: middle;
}

/* Main */

.container-main{
    width: 65%;
    margin: auto;
    background-color: white;
    margin-top: 45px;
}

/* content-top-middle */
.content-top, .content-middle{
    width: 85%;
    margin: auto;
}

.btn{
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 7px 10px;
    display: inline-block;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-weight: 700;
    font-family: Arial;
    border-color: lightgrey;
    cursor: pointer;
    /* cursor pointer fa diventare la manina il cursore appena va sopra questi bottoni */
}
.btn-blue{
    background-color: rgb(71, 173, 241);
    color: white;
}

.btn-grey{
    background-color: #FFFFFF;
    color: lightgrey;
}

/* content-middle */
.content-middle{
    padding: 30px 0;
}

ul{
    list-style-type: none;
    font-family: Arial;
    margin-bottom: 30px;
}

.triangle{
    font-size: 30px;
    vertical-align: middle;
}

.li-title{
    font-size: 18px;
    font-weight: 800;
    vertical-align: middle;
}

.list{
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
    vertical-align: middle;
    margin-bottom: 15px;
}
.list .check{
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;  
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
}

.check-v{
    border: 1px solid rgb(14, 226, 14);
    color: rgb(14, 226, 14);
}

.check-x{
    font-size: 8px;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.list .hashtag{
    border: solid 1px;
    font-size: 10px;
    padding: 6px 10px;
    border-radius: 11px;
    color: white;
}

.h-blue{
    background-color: #47adf1;
    border: #47adf1;
}

.h-violet{
    background-color: #9b5df7;
    border: #9b5df7;
}

.h-green{
    background-color: #64c0a9;
    border: #64c0a9;
}

.h-orange{
    background-color: orange;
    border: orange;
}

.h-pink{
    background-color: #d863a1;
    border: #d863a1;
}
.h-yellowgreen{
    background-color: #9cd343;
    border: #9cd343;
}